@import '~spv-styleguide/app/assets/stylesheets/helpers/helpers';
@import '~spv-styleguide/app/assets/stylesheets/components/alerts';

.transfer-form {
  position:relative;

  &__message,
  &__kroner,
  &__oere,
  &__dueDate {
    display: inline-block;
    vertical-align:top;
  }

  &__kroner,
  &__oere,
  &__dueDate {
    margin-bottom: 0;
  }

  &__kroner {
    width: 58%;
    margin-right: 4%;
  }

  &__oere {
    width: 32%;
    margin-right: 6%;
    @media(min-width: $first-breakpoint-value) {
      width: 26%;
      margin-right: 12%;
    }
  }

  &__dueDate {
    width: 52%;
    label {
      opacity: 0;
    }
    &.form-group--active label {
      opacity: 1;
    }
  }

  &__btn {
    @include primary-button;
    width: 100%;

    &--error {
      opacity: .25;
    }
  }

  .form-error {
    &_amount {
      display: inline-block;
      width: 45%;
    }

    &_date {
      display: inline-block;
      width: 45%;
    }
  }

  .amount-container {
    display: inline-block;
    width: 48%;
  }

  .form-group {
    &__amount-increaser {
      margin-top: 10px;
    }
    &__submit {
      margin-top: 25px;     
    }
  }
}
